<section id="contact" class="contact">
  <div class="contact-header">
    <h2>Contact</h2>
  </div>
  <div class="contact-content">
    <div class="contact-left">
      <div class="contact-subtitle">
        <div class="contact-subtitle-line"></div>
        <h3>Got a problem to solve?</h3>
      </div>
      <p class="contact-text">
        Encourage people to contact you and describe what role<br/>
        you are interested in. Show that you will add value to their<br/>
        projects through your work.
      </p>
      <p class="contact-developer">
        Need a Frontend developer?
        <span>Contact me!</span>
      </p>
    </div>
    <div class="contact-right">
        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Your name" formControlName="name"/>

            @if(contactForm.get('name')?.touched && contactForm.get('name')?.hasError('required')){
            <p class="error">Your name is required</p>
          }

            <input type="email" placeholder="Your email" formControlName="email"/>

            @if(contactForm.get('email')?.touched && contactForm.get('email')?.hasError('required')){
            <p class="error">Your email is required</p>
          }
            @if(contactForm.get('email')?.touched && contactForm.get('email')?.hasError('email')){
            <p class="error">Please enter a valid email</p>
          }

            <textarea placeholder="Your message" formControlName="message"></textarea>

            @if(contactForm.get('message')?.touched && contactForm.get('message')?.hasError('required')){
            <p class="error">Your message is empty</p>
          }

        <label class="privacy">
            <input type="checkbox" formControlName="privacy"/>
            <span class="privacy-checkbox"></span>
            <span class="privacy-text">
            I've read the
            <a routerLink="/privacy-policy"> privacy policy </a>
            and agree to the processing of my data as outlined.
            </span>
        </label>
            <button type="submit" [disabled]="contactForm.invalid">Send message :)</button>
        </form>
        <a href="#" class="scroll-top">
          <img src="assets/icons/go-up-button.svg" alt="Scroll to top" />
        </a>
    </div>
</div>
</section>
