<section id="about" class="about">
    <div class="about-container">
        <div class="about-content">
            <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
            <p class="about-intro">
                {{ 'ABOUT.INTRO_P1' | translate }} 
                {{ 'ABOUT.INTRO_P2' | translate }} 
                {{ 'ABOUT.INTRO_P3' | translate }}
            </p>
            <div class="about-list">
                <div class="about-item">
                    <img src="assets/icons/location.svg" alt="locate">
                    <p>{{ 'ABOUT.LOCATION' | translate }}</p>
                </div>
                <div class="about-item">
                    <img src="assets/icons/bulb.svg" alt="bulb">
                    <p>{{ 'ABOUT.LEARNING' | translate }}</p>
                </div>
                <div class="about-item">
                    <img src="assets/icons/puzzle.svg" alt="puzzle">
                    <p>{{ 'ABOUT.PROBLEM' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="about-image">
            <img class="about-glow" src="assets/images/purple-green-shadow.png" alt="">
            <img class="about-person" src="assets/images/simon.png" alt="Simon">
        </div>
    </div>
</section>