<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <a class="logo" href="#">Matthäus</a>
            <a routerLink="/legal-notice" class="footer-legal">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>
        </div>
        <div class="footer-center">
            <span>© Matthäus Stojak 2026</span>
        </div>
        <div class="footer-right">
            <a href="https://github.com/MatzeRB26" target="_blank">
                <img src="assets/images/hero/github.svg" alt="Github">
            </a>
            <a href="mailto:m.stojak@web.de">
                <img src="assets/images/hero/mail.svg" alt="Mail">
            </a>
            <a href="https://linkedin.com/" target="_blank">
                <img src="assets/images/hero/linkedin.svg" alt="LinkedIn">
            </a>
        </div>
    </div>
</footer>