<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <a class="logo" href="#">Matthäus</a>
            <a routerLink="/legal-notice" class="footer-legal">
                Legal Notice
            </a>
        </div>
        <div class="footer-center">
            <span>© Matthäus Stojak 2026</span>
        </div>
        <div class="footer-right">
            <a href="https://github.com/MatzeRB26" target="_blank" aria-label="Github">
                <img src="assets/images/hero/social/github.svg" alt="Github">
            </a>
            <a href="#contact" aria-label="Mail">
                <img src="assets/images/hero/social/mail.svg" alt="Mail">
            </a>
            <a href="https://linkedin.com/in/DEIN_LINKEDIN" target="_blank" aria-label="LinkedIn">
                <img src="assets/images/hero/social/linkedin.svg" alt="LinkedIn">
            </a>
        </div>
    </div>
</footer>
