<header>
    <div class="content">
        <a class="logo" href="#">
            Matthäus
        </a>
        <div class="navigation">
            <nav>
                <ul>
                    <li><a href="#about">About me</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                </ul>
            </nav>

            <div class="language-switch">
                <button>DE</button>
                <button class="active">EN</button>
            </div>
        </div>
    </div>
</header>
