<header>
    <div class="content">
        <a class="logo" href="#">Matthäus</a>

        <button class="burger-btn" (click)="toggleMenu()" [class.open]="isMenuOpen">
            @if (isMenuOpen) {
                <img class="closeX" src="assets/icons/close.svg" alt="Schließen">
            } @else {
                <img src="assets/icons/burger-menu.svg" alt="Menü öffnen">
            }
        </button>


        <div class="navigation" [class.open]="isMenuOpen">
            <nav>
                <ul>
                    <li><a href="#about" (click)="closeMenu()">About me</a></li>
                    <li><a href="#skills" (click)="closeMenu()">Skills</a></li>
                    <li><a href="#portfolio" (click)="closeMenu()">Portfolio</a></li>
                </ul>
            </nav>
            <div class="language-switch">
                <button>DE</button>
                <button class="active">EN</button>
            </div>
        </div>
    </div>
</header>
