<section class="hero">
        <img class="shadow-left" src="assets/images/hero/purple-shadow-left.png" alt="" />
        <img class="shadow-right" src="assets/images/hero/blue-shadow-right.png" alt="" />
<div class="content">
    <div class="headline">
        <span class="intro">I am</span>
        <div class="title">
            <h1>MATTHÄUS STOJAK</h1>
            <h2>FRONTEND DEVELOPER</h2>
            <button class="primary-btn">Let's talk!</button>
        </div>
    </div>
</div>
    <div class="hero-footer">
        <img src="assets/images/hero/social/github.svg" alt="GitHub">
        <img src="assets/images/hero/social/mail.svg" alt="Mail">
        <img src="assets/images/hero/social/linkedin.svg" alt="LinkedIn">
    </div>
</section>
