.hero{
    position:relative;
    overflow:hidden;
    background:#141D2F;
}

.shadow-left,
.shadow-right{
    position:absolute;
    z-index:0;
    pointer-events:none;
}

.content,
.hero-footer{
    position:relative;
    z-index:2;
}

.content,
.hero-footer {
    position: relative;
    z-index: 2;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.headline {
    display: flex;
    align-items: center;
    gap: 35px;
}

.intro {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    font-size: 90px;
    font-weight: 400;
    line-height: 1;
    bottom: 50px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

h1 {
    margin: 0;
    color: white;
    font-size: 128px;
    font-weight: 700;
    line-height: 120%;
}

h2 {
    margin: 0;
    color: #9747ff;
    font-size: 64px;
    font-weight: 400;
}

.primary-btn {
    width: 165px;
    height: 58px;
    margin: 35px auto 0;
    border: none;
    border-radius: 10px;
    background: #70e61c;
    color: white;
    font-size: 23px;
    cursor: pointer;
    transition: 125ms;
    box-shadow: 4px 4px 4px rgba(0,0,0,.25);
}

.primary-btn:hover{
    background:#9747ff;
    transform:scale(1.08);
}

.hero-footer{
    position:absolute;
    left:0;
    right:0;
    bottom:40px;
}

.footer-content{
    max-width:1440px;
    margin:0 auto;
    padding:0 100px;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.socials{
    position:relative;
    display:flex;
    align-items:center;
    gap:24px;
}

.line{
    position:absolute;
    right:100%;
    margin-right:30px;
    width:100vw;
    height:4px;
    background:#70E61C;
}

.socials img{
    width:30px;
    height:30px;
    cursor:pointer;
    transition:125ms;
}

.socials img:hover{
    transform:scale(1.25);
}

.scroll{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:14px;
}

.scroll span{
    writing-mode:vertical-rl;
    transform:rotate(180deg);
    color:white;
    font-size:23px;
}

.scroll img{
    width:24px;
    height:24px;
}

.shadow-left{
    width:572px;
    left:150px;
    top:280px;
}

.shadow-right{
    width:572px;
    right:293px;
    top:150px;
}