.hero {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(20, 29, 47, 1);


    @media (max-width: 1024px) {
        height: 600px;
        padding: 60px 32px;
    }

    @media (max-width: 768px) {
        height: 550px;
        padding: 40px 24px;
    }

    @media (max-width: 480px) {
        padding: 30px 16px;
    }

    @media (max-width: 320px) {
        padding: 20px 12px;
    }
}

.hero-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    @media (max-width: 480px) {
        gap: 28px;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media (max-width: 1024px) {
        gap: 32px;
    }

    @media (max-width: 768px) {
        gap: 24px;
    }

    @media (max-width: 480px) {
        gap: 20px;
    }
}

.hero-headline {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 1024px) {
        gap: 20px;
    }

    @media (max-width: 768px) {
        gap: 16px;
    }

    @media (max-width: 480px) {
        gap: 12px;
    }
}

.hero-intro {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 90px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

    @media (max-width: 1024px) {
        font-size: 70px;
    }

    @media (max-width: 768px) {
        font-size: 48px;
    }

    @media (max-width: 480px) {
        font-size: 32px;
    }

    @media (max-width: 390px) {
        font-size: 28px;
    }

    @media (max-width: 320px) {
        font-size: 22px;
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-text h1 {
    font-size: 110px;
    font-weight: 700;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);

    @media (max-width: 1024px) {
        font-size: 80px;
    }

    @media (max-width: 768px) {
        font-size: 52px;
    }

    @media (max-width: 480px) {
        font-size: 45px;
    }

    @media (max-width: 390px) {
        font-size: 25px;
    }

    @media (max-width: 320px) {
        font-size: 20px;
    }
}

.hero-text h2 {
    font-size: 64px;
    font-weight: 400;
    color: rgba(151, 71, 255, 1);

    @media (max-width: 1024px) {
        font-size: 48px;
    }

    @media (max-width: 768px) {
        font-size: 32px;
    }

    @media (max-width: 480px) {
        font-size: 22px;
    }

    @media (max-width: 390px) {
        font-size: 20px;
    }

    @media (max-width: 320px) {
        font-size: 18px;
    }
}

.primary-btn {
    width: 165px;
    height: 58px;
    border: none;
    border-radius: 10px;
    background: rgba(112, 230, 28, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 23px;
    cursor: pointer;
    transition:
        transform .125s ease,
        background-color .125s ease;

    @media (max-width: 1024px) {
        width: 150px;
        height: 52px;
        font-size: 20px;
    }

    @media (max-width: 768px) {
        width: 140px;
        height: 48px;
        font-size: 18px;
        top: 25px;
    }

    @media (max-width: 320px) {
        width: 130px;
        height: 44px;
        font-size: 16px;
        top: 25px;
    }
}

.primary-btn:hover {
    background: rgba(151, 71, 255, 1);
    transform: scale(1.08);
}

.social-wrapper {
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
        bottom: 30px;
    }

    @media (max-width: 768px) {
        bottom: 24px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    @media (max-width: 480px) {
        bottom: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    @media (max-width: 320px) {
        bottom: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
}

.line {
    position: relative;
    width: 100px;
    height: 4px;
    background: rgba(112, 230, 28, 1);
    margin-right: 42px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (max-width: 1024px) {
        width: 70px;
        margin-right: 30px;
    }

    @media (max-width: 768px) {
        width: 60px;
        margin-right: 0;
    }

    @media (max-width: 480px) {
        width: 45px;
    }
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100vw;
    height: 4px;
    background: rgba(112, 230, 28, 1);
}

.social-icons {
    display: flex;
    gap: 42px;

    @media (max-width: 1024px) {
        gap: 32px;
    }

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;

    @media (max-width: 768px) {
        width: 30px;
        height: 30px;
    }

    @media (max-width: 320px) {
        width: 30px;
        height: 30px;
    }
}

.social-icons img:hover {
    transform: scale(1.25);
}

.scroll-down {
    position: absolute;
    right: 100px;
    bottom: 42px;
    width: 28px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
        right: 40px;
        bottom: 30px;
        height: 130px;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.scroll-down span {
    writing-mode: vertical-lr;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);

    @media (max-width: 1024px) {
        font-size: 18px;
    }
}

.scroll-down img {
    width: 16px;

    @media (max-width: 1024px) {
        width: 14px;
    }
}

.shadow {
    position: absolute;
    pointer-events: none;
}

.shadow-left {
    width: 572px;
    height: 608px;
    top: 150px;
    left: 0;

    @media (max-width: 1024px) {
        width: 420px;
        height: 450px;
        top: 100px;
    }

    @media (max-width: 768px) {
        width: 280px;
        height: 300px;
        top: 40px;
    }

    @media (max-width: 480px) {
        width: 200px;
        height: 220px;
    }
}

.shadow-right {
    width: 680px;
    height: 574px;
    top: 10px;
    right: 0;

    @media (max-width: 1024px) {
        width: 500px;
        height: 420px;
    }

    @media (max-width: 768px) {
        width: 320px;
        height: 270px;
    }

    @media (max-width: 480px) {
        width: 220px;
        height: 190px;
    }
}