.hero {
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(20, 29, 47, 1)
}

.hero-inner {
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    top: 250px;
}

.hero-headline {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero-intro {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 90px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-text h1 {
    font-size: 110px;
    font-weight: 700;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);
}

.hero-text h2 {
    font-size: 64px;
    font-weight: 400;
    color: rgba(151, 71, 255, 1);
}

.primary-btn {
    width: 165px;
    height: 58px;
    border: none;
    border-radius: 10px;
    background: rgba(112, 230, 28, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 23px;
    cursor: pointer;
    transition:
        transform .125s ease,
        background-color .125s ease;
    top: 50px;
}

.primary-btn:hover {
    background: rgba(151, 71, 255, 1);
    transform: scale(1.08);
}

.social-wrapper {
    position: absolute;
    bottom: 42px;
    display: flex;
    align-items: center;
}

.line {
    position: relative;
    width: 100px;
    height: 4px;
    background: rgba(112, 230, 28, 1);
    margin-right: 42px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 3850px;
    height: 4px;
    background: rgba(112, 230, 28, 1);
}

.social-icons {
    display: flex;
    gap: 42px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.social-icons img:hover {
    transform: scale(1.25);
}

.scroll-down {
    position: absolute;
    right: 100px;
    bottom: 42px;
    width: 28px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.scroll-down span {
    writing-mode: vertical-lr;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);
}

.scroll-down img {
    width: 16px;
}

.shadow {
    position: absolute;
}

.shadow-left {
    width: 572px;
    height: 608px;
    top: 150px;
    left: 200px;
}

.shadow-right {
    width: 680px;
    height: 574px;
    top: 10px;
    right: 50px;
}