<section class="hero">
    <img class="shadow shadow-left" src="assets/images/hero/purple-shadow-left.png" alt="">
    <img class="shadow shadow-right" src="assets/images/hero/blue-shadow-right.png" alt="">
    
<div class="hero-content">
        <span class="hero-intro">I am</span>
    <div class="hero-text">
            <h1>MATTHÄUS STOJAK</h1>
            <h2>FRONTEND DEVELOPER</h2>
    </div>
    <button class="primary-btn">Let's talk!</button>
</div>
    <div class="social-wrapper">
        <div class="line"></div>
            <div class="social-icons">
                <img src="assets/images/hero/social/github.svg" alt="">
                <img src="assets/images/hero/social/mail.svg" alt="">
                <img src="assets/images/hero/social/linkedin.svg" alt="">
            </div>
    </div>

    <div class="scroll-down">
        <span>Scroll down</span>
        <img src="assets/images/hero/arrow-down.svg" alt="">
    </div>
</section>