<section id="portfolio" class="portfolio">
    <div class="portfolio-glow"></div>
    <div class="container">
        <div class="portfolio-header">
            <div class="portfolio-line"></div>
            <h2>Portfolio</h2>
        </div>
        <p class="portfolio-description">
            Explore a selection of my work here - Interact with projects to see my skills in action.
        </p>
        <div class="portfolio-projects">
            <article class="project-card">
                <img src="assets/images/polo-loco-laptop.png" alt="El Pollo Loco">
                <img class="project-shadow" src="assets/images/black-shadow.png" alt="">
            </article>
            <article class="project-card">
                <img src="assets/images/join-laptop.png" alt="Join">
                <img class="project-shadow" src="assets/images/black-shadow.png" alt="">
            </article>
        </div>
    </div>
</section>