<section class="legal-notice">
    <div class="headline">
        <div class="line purple"></div>
            <h1>{{ 'LEGAL.TITLE' | translate }}</h1>
        <div class="line purple2"></div>
    </div>
    <div class="content">
        <h2>{{ 'LEGAL.IMPRINT' | translate }}</h2>
            <ul>
                <li>
                • Matthäus Stojak <br>
                • Geibelweg 18 <br>
                • 27753 Delmenhorst
                </li>
            </ul>
            <h3>Exploring the Board</h3>
            <p>{{ 'LEGAL.EMAIL_LABEL' | translate }}: m.stojak@web.de</p>
            
        <div class="section">
            <h3>{{ 'LEGAL.TERMS_TITLE' | translate }}</h3>
            <p [innerHTML]="'LEGAL.TERMS_TEXT' | translate"></p>
        </div>
        <div class="section">
            <h3>{{ 'LEGAL.SCOPE_TITLE' | translate }}</h3>
            <p [innerHTML]="'LEGAL.SCOPE_TEXT1' | translate"></p>
            <p [innerHTML]="'LEGAL.SCOPE_TEXT2' | translate"></p>
        </div>
        <div class="section">
            <h3>{{ 'LEGAL.RIGHTS_TITLE' | translate }}</h3>
            <p [innerHTML]="'LEGAL.RIGHTS_TEXT' | translate"></p>
        </div>
        <div class="section">
            <h3>{{ 'LEGAL.USE_TITLE' | translate }}</h3>
            <p [innerHTML]="'LEGAL.USE_TEXT' | translate"></p>
        </div>
        <div class="section">
            <h3>{{ 'LEGAL.LIABILITY_TITLE' | translate }}</h3>
            <p [innerHTML]="'LEGAL.LIABILITY_TEXT' | translate"></p>
        </div>
        <div class="section">
            <h3>{{ 'LEGAL.INDEMNITY_TITLE' | translate }}</h3>
            <p [innerHTML]="'LEGAL.INDEMNITY_TEXT1' | translate"></p>
            <p>{{ 'LEGAL.INDEMNITY_TEXT2' | translate }}</p>
            <p class="date">{{ 'LEGAL.DATE' | translate }}</p>
        </div>
    </div>
</section>