* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
position: relative;
list-style: none;
font-size: inherit;
color: inherit;
font-family: inherit;
background: initial;
border: initial;
}

html {
    scroll-behavior: smooth;
}